<<<<<<< HEAD:project/static/css/user_info.css

=======
/* CUSTOM */
>>>>>>> 59a7e31fd6725dbaacc1b4b47074ecd9b72baf1d:project/homePage/static/css/user_info.css

body{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color:#eee;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: white !important;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

<<<<<<< HEAD:project/static/css/user_info.css
#user-info-Card {
    width:500px;
    height:auto;
=======
#user-info-Card{
    width:500px;
    height: auto;
>>>>>>> 59a7e31fd6725dbaacc1b4b47074ecd9b72baf1d:project/homePage/static/css/user_info.css
    background-color:#fff;
    border-radius:10px;
    border:none;
    padding:20px;
    margin: auto;
    justify-content: center;
}

<<<<<<< HEAD:project/static/css/user_info.css
.check_section_txt{
    /* text-align: center; */
    align-items: center;
    display: flex;
    justify-content: space-between;

}

#check_section{
    display: inline-block;
    width: 75%;
    color: black !important;
}

.message {
    margin-top: 5px;
    margin-bottom: 0px;
    color: black !important;

}


#check_button_id{
    height: 45px;
    display: inline-block;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    font-size: 1rem;
}

#check_button_email{
    height: 45px;
    display: inline-block;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    font-size: 1rem;
}

=======
>>>>>>> 59a7e31fd6725dbaacc1b4b47074ecd9b72baf1d:project/homePage/static/css/user_info.css
/* .btn-primary:hover {
    color: #fff;
    background-color: #d61036;
    border-color: #ca0f33;
} */

#social_button{
    height:45px;
    background-color:#2541B2;
    border-color: #2541B2;
}

#social_button:hover{
    background-color: #1c338c;
}

<<<<<<< HEAD:project/static/css/user_info.css
#dropdownMenuButton{
    height:45px;
    background-color:#2541B2;
    border-color: #2541B2;
}

=======
>>>>>>> 59a7e31fd6725dbaacc1b4b47074ecd9b72baf1d:project/homePage/static/css/user_info.css
/* .btn-success:hover {
    color: #fff;
    background-color: #157347;
    border-color: #146c43;
} */

#signIn_button{
    color: #fff;
}

<<<<<<< HEAD:project/static/css/user_info.css
.input_text{
=======
#input_text{
    color: black !important;
}
#input_text2{
    color: black !important;
}
#input_text3{
    color: black !important;
}
#input_text4{
    color: black !important;
}
#input_text5{
>>>>>>> 59a7e31fd6725dbaacc1b4b47074ecd9b72baf1d:project/homePage/static/css/user_info.css
    color: black !important;
}



.align-items-center2 {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}


.justify-content-between2 {
    margin-top: 15px !important;
    text-align: right !important;
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: right !important;
}





/* ================================== */

.form{
    margin-top:15px;
}

.form label{
    font-weight:700;
    font-size:14px;
}
.form input{
    height:45px;
    border:2px solid #eee;
    transition:all 0.9s;
}

.form input:focus{
    box-shadow:none;
    border:2px solid #2541B2;
}



.login-button{
    margin-top:15px;
}

.login-button button{
    height:45px;
}

